* {
    box-sizing: border-box;
}

:root {
    --color-blue: #4d7cfe;
    --color-white: #ffffff;
    --color-light: #dddddd;
    --color-medium: #aaaaaa;
    --color-dark: #555555;
    --transition-delay: 200ms;
}

@font-face {
    font-family: "Maven Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Maven Pro'), 
         url("/public/font/MavenPro-Regular.woff2"), 
         url("/public/font/MavenPro-Regular.ttf")
}
@font-face {
    font-family: "Maven Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Maven Pro'), 
         url("/public/font/MavenPro-Medium.woff2"), 
         url("/public/font/MavenPro-Medium.ttf")
}
@font-face {
    font-family: "Maven Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Maven Pro'), 
         url("/public/font/MavenPro-Bold.woff2"), 
         url("/public/font/MavenPro-Bold.ttf")
}
@font-face {
    font-family: "Nanum Pen Script";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nanum Pen Script'), 
         url("/public/font/NanumPenScript-Regular.woff2"), 
         url("/public/font/NanumPenScript-Regular.ttf")
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-blue);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 30%;
}

.logo {
    font: calc(4vw + 4vh + 2vmin) "Nanum Pen Script";
    color: var(--color-white);
    min-width: 20rem;
    width: 25vw;
}

.login-container {
    width: 25vw;
    min-width: 20rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 0 15px 2px var(--color-light);
    padding: 1.5em;
    margin: auto;
}

input[type="text"], input[type="password"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--color-light);
    color: var(--color-dark);
    margin-bottom: 1.5em;
    padding: 10px;
    width: 100%;
    transition: border-bottom var(--transition-delay);
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom-color: var(--color-blue);
}


input[type="submit"] {
    background: transparent;
    border: 2px solid var(--color-blue);
    border-radius: 5px;
    color: var(--color-blue);
    cursor: pointer;
    padding: 0.75em 3.5em;
    transition: background var(--transition-delay),
                color var(--transition-delay);
}

input[type="submit"]:hover {
    background: var(--color-blue);
    color: var(--color-white);
}

@media only screen and  (max-width: 768px) {
    .container {
        flex-direction: column;

    }

    .logo {
        font-size: 22vw;
        width: auto;
        text-align: center;
    }

    .login-container {
        width: 100%;
    }

    form {
        width: 90%;
    }
}
